fastapi
uvicorn
langgraph
langchain
langchain_community
qdrant-client
fastembed
streamlit
pandas
langchain-google-genai
langchain-groq
langchain-openai
langchain-huggingface
langchain_ollama
pymongo[srv]==3.12
qdrant-client
pypdf
langchain-qdrant
sentence-transformers